
  <h3>Change Password</h3>
  <div class="form-group">
    <label for="current password">Current Password</label>
    <input type="text" class="form-control" id="current_password" placeholder="Password" [(ngModel)]="password"/>
  </div>

  <div class="form-group">
    <label for="new password">New Password</label>
    <input type="text" class="form-control" id="new_password" placeholder="New Password" [(ngModel)]="new_password"/>
  </div>

  <div class="form-group">
    <label for="new password">Re-type New Password</label>
    <input type="text" class="form-control" id="retyped_new_password" placeholder="Re-type Password" [(ngModel)]="retyped_password"/>
  </div>
  <button type="submit" class="btn btn-primary" (click)="changePassword()">Submit</button>