<nb-layout>
  <nb-layout-column>
<html>
<head>
<link rel="shortcut icon" href="/JobPortal/images/favicon.ico" type="image/x-icon" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="Stylesheet" href="\JobPortal\job\css\job.css" />
</head>
<body>

<div>

    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td colspan="3">
        <img src="/assets/images/logo.png"><br><br>
      </td>
    <tr>
    <tr>
      <td height="2px" width="5%" bgcolor="#000000"></td>
      <td height="2px" width="1%" bgcolor="#FFFFFF"></td>
      <td height="2px" width="94%" bgcolor="#4FBEC9"></td>
    </tr>
    <tr>
      <td colspan="3">
<br /><br />

<div class="container">
  <div class="row">
    <div class="col-50">

      <div class="alert alert-danger" *ngIf="forgot_error">
        {{forgot_error}}
      </div>

      <div class="alert alert-success" *ngIf="forgot_done">
        {{forgot_done}}
      </div>

      <div class="form-group">
          <div class="col"><h2>Forgot Password</h2></div>
      </div>

      <div class="form-group">
        <div class="col-25" style="margin-left:3%;">
          <label for="email">User ID</label>
        </div>
        <div class="col-75">
          <input type="text" class="form-control" maxlength="100" id="email" placeholder="Email" [(ngModel)]="email"/>
        </div>
      </div>


      <div class="form-group">
        <div class="col-25"></div>
        <div class="col-75">
          <button style="float:left;" type="button" (click)="btnBack()" class="btn btn-primary">Back</button>
          <button style="float:right;" type="submit" class="btn btn-success" (click)="forgotPassword()">Submit</button>
        </div>
      </div>

    </div>
  </div>

</div>
</td>
    </tr>
      </table>
</div>
</body>
</html>
</nb-layout-column>
</nb-layout>