<nb-layout>
  <nb-layout-column>
    <head>
      <link
        rel="shortcut icon"
        href="/assets/images/favicon.ico"
        type="image/x-icon"
      />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <!--<link type="text/css" rel="Stylesheet" href="\JobPortal\job\css\job.css" />-->
    </head>

    <body class="row text-center">
      <div class="col-sm-12 col-md-6" style="background-color: rgba(255, 255, 255, 0.7);border-radius: 25px">
        <div class="form-group pt-5">
          <!-- <div class="col-75"> -->
            <b><span style="color:#000000;font-size: 24px;">LOGIN TO YOUR ACCOUNT</span></b>
          <!-- </div> -->
        </div>
        <div class="form-group">
          <!-- <div class="col-75"> -->
            <input name="txtUserID" type="text" maxlength="100" id="txtUserID" placeholder="EMAIL" [(ngModel)]="email"/>
          <!-- </div> -->
        </div>
        <div class="form-group">
          <!-- <div class="col-75"> -->
            <input name="txtPassword" type="password" maxlength="20" id="txtPassword" placeholder="PASSWORD" [(ngModel)]="password"/>
          <!-- </div> -->
        </div>
        <div class="form-group">
          <!-- <div class="col-75"> -->
            <input type="submit" (click)="loginUser($event)" name="btnLogin" value="Login" id="btnLogin" class="Btn" />
            &nbsp;&nbsp;
            <a href="forgot-password" style="color:#000000"><u><i>Forgot Password</i></u></a>
          <!-- </div> -->
        </div>
        <div class="form-group">
          <div *ngIf="login_error">
            <span style="color:#ff0e0e;font-size: 14px;" [(ngModel)]="login_error" ngDefaultControl><i>{{login_error}}</i></span><br />
          </div>
        </div>

        <div class="form-group">
            <!-- <div class="col-75"> -->
            <b><span style="color:#000000;font-size: 24px;"><br /><br />REGISTER NEW ACCOUNT</span></b>
            <!-- </div> -->
        </div>
        <div class="form-group">
            <!-- <div class="col-75"> -->
              <input name="txtEmail2" type="text" maxlength="100" id="txtEmail2" placeholder="EMAIL" [(ngModel)]="register_email"/>
            <!-- </div> -->
        </div>
        <div class="form-group">
            <!-- <div class="col-75"> -->
              <input name="txtName" type="text" maxlength="100" id="txtName" placeholder="NAME" [(ngModel)]="register_username"/>
            <!-- </div> -->
        </div>
        <div class="form-group">
          <!-- <div class="col-75"> -->
            <input name="txtPassword1" type="password" maxlength="20" id="txtPassword1" placeholder="PASSWORD" [(ngModel)]="register_password"/>
          <!-- </div> -->
        </div>
        <div class="form-group">
          <!-- <div class="col-75"> -->
            <input name="txtPassword2" type="password" maxlength="20" id="txtPassword2" placeholder="RE-TYPE PASSWORD" [(ngModel)]="register_retyped_password"/>
          <!-- </div> -->
        </div>

        <div class="form-group">
          <!-- <div class="col-75"> -->
            <input type="submit" (click)="registerUser($event)" name="btnRegister" value="Register" id="btnRegister" class="Btn" />
            &nbsp;&nbsp;
            <a href="./contact-us" style="color:#000000"><u><i>Contact Us</i></u></a>
          <!-- </div> -->
        </div>
        <div class="form-group">
          <div *ngIf="register_error">
            <span style="color:#ff0e0e;font-size: 14px;" [(ngModel)]="register_error" ngDefaultControl><i>{{register_error}}</i></span><br />
          </div>
        </div>

        <div class="row">
          <div class="col-75" style="display: none;">
            <span style="color:#ff0e0e;font-size: 12px;">Password must:</span><br />
              <span style="color:#ff0e0e;font-size: 10px;">• Be a minimum of eight (8) alphanumeric characters in length</span><br />
              <span style="color:#ff0e0e;font-size: 10px;">• Contain at least 1 uppercase character </span><br />
          </div>
        </div>

        <div class="form-group">
          <div style="margin-left:75px;">
          <!--<table width="100%" border="0">
              <tr>
                <td width="100%" ><input type="submit" (click)="registerUser($event)" name="btnRegister" value="Register" id="btnRegister" class="Btn" /></td>
              </tr>
              <tr>
                <td width="90%"><br /><a href="./contact-us" style="color:#ffffff"><u><i>Contact Us</i></u></a></td>
              </tr>
          </table>-->
          </div>
          <!-- <div>
            <img id="Image2" src="/assets/images/SKOM-logo.png" style="width:400px;border-width:0px;">
          </div> -->
        </div>
      </div>
      <div class="col-sm-12 col-md-6 text-left">
        <div class="jumbotron jumbotron-fluid" style="background-color: transparent;">
          <div class="container">
            <h1 class="display-4">WELCOME TO SKOM e-CREW ONLINE JOB APPLICATION</h1>
            <p class="lead">SKOM is looking for dedicated, skilled and experienced talents with passion in the offshore marine. We offer competitive package, training and new fleet environment which allow you to excel in your career. Submit your application now and be part of the team to deliver possibilities.</p>
          </div>
        </div>
      </div>
    </body>
  </nb-layout-column>
</nb-layout>