<nb-layout style="padding: 0;">
  <nb-layout-column style="padding: 0;">
    <head>
      <link
        rel="shortcut icon"
        href="/assets/images/favicon.ico"
        type="image/x-icon"
      />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <!--<link type="text/css" rel="Stylesheet" href="\JobPortal\job\css\job.css" />-->
    </head>

    <body class="bg">
      <div class="container">
        <div class="row pt-5">
          <h1 class="header"><b>WELCOME TO SKOM e-CREW ONLINE <br>JOB APPLICATION</b></h1>
          <p class="text">SKOM is looking for dedicated, skilled and experienced talents with passion in the offshore marine. We offer competitive package, training and new fleet environment which allow you to excel in your career. Submit your application now and be part of the team to deliver possibilities.</p>
        </div>
        <div class="row">
          <div class="col">
            <form class="form-signin" (ngSubmit)="loginUser()">
              <h1 class="h4 mb-2">LOGIN</h1>
              <label for="txtUserID" class="sr-only">Email</label>
              <input type="email" class="form-control mb-2" name="txtUserID" id="txtUserID" aria-describedby="emailHelp" placeholder="Email" [(ngModel)]="email" />
              <label for="txtPassword" class="sr-only">Password</label>
              <input type="password" class="form-control" name="txtPassword" id="txtPassword" placeholder="Password" [(ngModel)]="password" />
              <div class="alert alert-danger" *ngIf="login_error">
                {{login_error}}
              </div>
              <div class="mb-3 text-center">
                <button type="submit" class="btn btn-theme">Login</button>
                <a class="ml-3" href="forgot-password" style="color:#000000"><u><i>Forgot Password</i></u></a>
              </div>
            </form>
          </div>
          <div class="col">
            <form class="form-signin" (ngSubmit)="registerUser()">
              <h1 class="h4 mb-2">REGISTER A NEW ACCOUNT</h1>
              <label for="txtRgstEmail" class="sr-only">Email</label>
              <input type="email" class="form-control mb-2" name="txtRgstEmail" id="txtRgstEmail" aria-describedby="emailHelp" placeholder="Email" [(ngModel)]="register_email" />
              <label for="txtRgstFullname" class="sr-only">Name</label>
              <input type="email" class="form-control mb-2" name="txtRgstFullname" id="txtRgstFullname" aria-describedby="emailHelp" placeholder="Name" [(ngModel)]="register_username" />
              <label for="txtRgstPassword" class="sr-only">Password</label>
              <input type="password" class="form-control mb-2" name="txtRgstPassword" id="txtRgstPassword" placeholder="Password" [(ngModel)]="register_password" />
              <label for="txtRgstConfirmPassword" class="sr-only">Re-type Password</label>
              <input type="password" class="form-control mb-2" name="txtRgstConfirmPassword" id="txtRgstConfirmPassword" placeholder="Re-type Password" [(ngModel)]="register_retyped_password" />
              <div class="alert alert-danger" *ngIf="register_error">
                {{register_error}}
              </div>
              <div class="mb-3 text-center">
                <button type="submit" class="btn btn-theme">Register</button>
                <a class="ml-3" href="./contact-us" style="color:#000000"><u><i>Contact Us</i></u></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </body>
  </nb-layout-column>
</nb-layout>